:root {
  --height:         4px;
  --start-color:    #1c5ab6;
  --middle-color:   #e82967;
  --end-color:      #3e3b45;
  --state-full:     #24d694;
  --state-charged:  #1c5ab6;
  --state-low:      #c44397;
  --state-critical: #e82967;
}

/* .header_appTitle {
  color: transparent;
} */

aside .battery-level time {
  display: block;
  opacity: 0.5;
}

.battery-level {
  letter-spacing: -0.04em;
  padding:        1em;
  font:           500 16px/1em Gotham, Montserrat, Raleway, Questrial, "Novecento Sans Wide", Arial;
}

.battery-level {
  position: fixed;
  bottom:   var(--height);
  left:     0;
}

progress.battery-bar {
  position:   fixed;
  bottom:     0;
  left:       0;
  right:      0;
  width:      auto;
  height:     var(--height);
  background: linear-gradient(
    130deg,
    var(--start-color),
    var(--middle-color),
    var(--end-color))
}

progress::-webkit-progress-bar {
  background-color: transparent }

progress::-webkit-progress-value {
  mix-blend-mode: screen;
  opacity:        0.5 }

progress.full::-webkit-progress-value {
  background-color: var(--state-full) }

progress.charged::-webkit-progress-value {
  background-color: var(--state-charged) }

progress.low-power::-webkit-progress-value {
  background-color: var(--state-low) }

progress.critical::-webkit-progress-value {
  background-color: var(--state-critical) }
