:root {
  --height:         3px;
  --start-color:    #1c5ab6;
  --middle-color:   #e82967;
  --end-color:      #3e3b45;
  --state-full:     #24d694;
  --state-charged:  #1c5ab6;
  --state-low:      #c44397;
  --state-critical: #e82967;
}

aside.power-bar-container {
  opacity: 1;
  transition: 500ms opacity;
  -webkit-transition: 500ms opacity;
  -moz-transition: 500ms opacity;
  -ms-transition: 500ms opacity;
  -o-transition: 500ms opacity;
}

aside.power-bar-container.hidden {
  opacity: 0;
}

aside.power-bar-container:hover .battery-level,
aside.power-bar-container .battery-level.updated {
  transition-duration: 120ms;
  transition-delay:    0;
  opacity: 1;
}

aside.power-bar-container .battery-level {
  opacity: 0;
  transition-duration: 10900ms;
  transition-property: opacity;
  left:           0;
  bottom:         var(--height);
  padding:        0.2em;
  position:       fixed;
  font-family:    Gotham, Montserrat, Raleway, Questrial, "Novecento Sans Wide", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  letter-spacing: -0.04em;
  font-size:      10px;
}

aside.power-bar-container .battery-level time {
  display: inline-block;
  opacity: 0.2;
  margin-left: 0.3em;
}

progress.battery-bar {
  position:   fixed;
  bottom:     0;
  left:       0;
  right:      0;
  width:      auto;
  height:     var(--height);
  appearance: none;
  background: linear-gradient(
    130deg,
    var(--start-color),
    var(--middle-color),
    var(--end-color)) !important;
}

progress::-webkit-progress-bar {
  background-color: transparent !important; }

progress::-webkit-progress-value {
  mix-blend-mode: screen;
  opacity:        1 }

progress.full::-webkit-progress-value {
  background-color: var(--state-full) }

progress.charged::-webkit-progress-value {
  background-color: var(--state-charged) }

progress.low-power::-webkit-progress-value {
  background-color: var(--state-low) }

progress.critical::-webkit-progress-value {
  background-color: var(--state-critical) }
